Using Webhook-Shims Docker Container

* Install docker
* Pull the image

  ```docker pull johnddias/webhook-shims```
* You will likely want to configure the shims first via interactive shell

  ```docker run -it -p 5001:5001 --name {yourchoice} johnddias/webhook-shims bash```

* Note that the -p option specifies port mappings between host:container so you can change the host port to be whatever you wish.

* You can run the server in this shell.  To run again with the changes you made earlier:

  ```docker start -a {yourchoice}```
